body {
  background: rgb(184,184,184);
  background: linear-gradient(0deg, rgba(184,184,184,1) 0%, rgba(239,239,239,1) 45%,  rgba(242,242,242,1) 50%, rgba(239,239,239,1) 55%, rgba(184,184,184,1) 100%); 
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
  text-align: center;
  min-width: 700px;
  margin: 0px;
  padding: 0px;
}

#logo {
  background-color: #004d80;
  color: white;
  border-style: solid;
  border-color: black;
  font-weight: bold;
  float: left;
  padding: 10px 40px 10px;
  margin: 0px;
}

#logo a {
  text-decoration: none;
  color: white;
}

#mainbar {
  display: block;
  background-color: #000f1a;
  height: 69px;    
}

#main {
  float: left;
  margin: 18px 0px 18px 18px;
  padding: 0px;
  height: 18px;
}

#search-img {
  float: left;
  margin: 18px 18px 18px 0px;
  padding: 0px;
  height: 34px;
  width: 34px;
  background-color: transparent;
  background-size: cover;
  border-width: 0px;
  cursor: pointer;
  background-image: url("/static/search.png");
}

.main-users {
  margin: 18px 18px 18px 0px;
  padding: 0px;
  height: 18px;
}

#search-img-reverse {
  margin: 18px 0px 18px 18px;
  padding: 0px;
  height: 34px;
  width: 34px;
  background-color: transparent;
  background-size: cover;
  border-width: 0px;
  cursor: pointer;
  background-image: url("/static/search-reverse.png");
}

#mainbar ul {
  margin: 0px;
  list-style-type: none;
  color: white;
}

#mainbar li {
  float: right;
  height: 50%;
}

.bar-links {
  text-decoration: none;
  color: white;
  display: block;
  padding: 24px 10px;
}

a.bar-links:hover {
  background-color: #b3b3b3;
  color: black;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

#mainbar h1 {
  margin: 0px;
  color: white;
}

#mainbar h4 {
  margin: 0;
}

#profile-pic-small {
  width: 45px;
  height: 45px;
  margin: 10px 5px;
  padding: 0px;
  border-width: 1px;
  border-radius: 45px;
  border-color: white;
  background-size: cover;
  background-color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000f1a;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b3b3b3;
  color: black;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #profile-pic-small {
  border-color: #1aa3ff;
  border-style: solid;
  border-width: 1px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.users {
  display: none;
  position: absolute;
  background-color: #000f1a;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 212px;
}

.users a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.users a:hover {
  background-color: #b3b3b3;
  color: black;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.users:hover {
  display: block;
}

.main-users:focus + .users{
  display: block;
}