#mainpage-wrapper {
	margin: 0px auto;
	height: auto;
	width: 40%;
	font-family: 'Bitter', serif;
	color: white;
}

#mainpage {
	margin: 140px 0px 0px 0px;
	background-color: black;
	padding: 20px;
	border-radius: 10px;
}

#mainpage-title {
	font-size: 25px;
	margin: 0px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

#column-left {
	float: left;
	width: 50%;
}

#column-wrapper {
	width: 85%;
	margin: auto;
}

#column-right {
	float: right;
    width: 50%;
}

#tickets-link {
	font-size: 18px;
	color: white;
}

#tickets-link:hover {
	color: #1aa3ff;
}