#form-wrapper {
	margin: 0px auto;
	height: auto;
	width: 48%;
	font-family: 'Bitter', serif;
	color: white;
}

#form {
	margin: 140px 0px 0px 0px;
	background-color: black;
	min-width: 545px;
}

#form-title {
	font-size: 25px;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
}

#profile-image {
	margin: 15px;
	height: 240px;
	width: 240px;
}


.column-left {
	float: left;
	width: 50%;
}

.column-right {
	margin: 40px 0px 10px 0px;
	float: right;
    width: 50%;
}

.profile-form {
    background-color: black;
    color: white;
    height: 35px;
	width: 260px;
	border-radius: 0px;
	border-width: 0px;
    margin: 0px 5px;
    vertical-align: bottom;
}

.profile-form:focus {
    background-color: #cccccc;
    color: black;
}

#profile-submit {
	background-color: #1aa3ff;
	font-weight: bold;
	width: 200px;
	height: 35px;
	border-color: #80ccff;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	margin: 20px;
}

#column-right-text {
	text-align: left;
	padding: 10px 30px;
}