  #form-wrapper {
    margin: 140px 0px 0px 0px;
    font-family: 'Bitter', serif;
  }

  #form {
    border-radius: 15px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 430px;
    display: block;
  }

  #form p {
    font-weight: normal;
    font-style: oblique;
    font-size: 17px;
  }

  #form h2 {
    color: white;
    padding: 20px;
  }

  .reg-form {
    background-color: #cccccc;
    height: 35px;
    width: 220px;
    border-radius: 0px;
    border-width: 0px;
    margin: 2px;
  }

  #reg-submit {
    background-color: #1aa3ff;
    font-weight: bold;
    width: 220px;
    height: 35px;
    border-color: #80ccff;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin: 20px;
  }

  #wrapper {
    margin: 0 auto;
  }

  #form-side {
    wiadth: 1000px;
    haeight: 200px;
    margin: 0 auto;
    background-color: grey;
    float: left;
  }