#form-wrapper {
	margin: 0px auto;
	height: auto;
	width: 30%;
	font-family: 'Bitter', serif;
	color: white;
}

#form {
	margin: 140px 0px 0px 0px;
	background-color: black;
	min-width: 545px;
}

#form-title {
	font-size: 25px;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
}

#detail {
	text-align: left;
	margin: 10px 32%;
	padding: 0px;
	width: 100%;
}

.task-form {
	height: 35px;
	border: none;
	margin: 5px;
	background-color: black;
	color: white;
	text-align: left;
}

.task-form:focus {
	background-color: #E1E1E1;
	color: black;
}

#description {
	min-width: 450px;
	min-height: 200px;
	width: 80%;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 0px;
	border-width: 0px;
	font-size: 16px;
	font-family: 'Bitter', serif;
	margin: 15px 0px 0px 0px;
	resize: vertical;
}

#description:focus {
    background-color: #E1E1E1;
    color: black;
}

#task-submit {
	background-color: #1aa3ff;
	font-weight: bold;
	width: 200px;
	height: 35px;
	border-color: #80ccff;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	margin: 20px;
}

#tab {
	margin: 0px;
	padding: 0px;
	width: 100%;
	align-content: center;
}

.tab-button {
	padding: 15px 0px;
	margin: 0px;
	border: none;
	width: 49%;
	cursor: pointer;
}

#detail-butt {
	background-color: #1aa3ff;
}

#content-butt {
	background-color: white;
}