#ticket-form-wrapper {
	margin: 0px auto;
	height: auto;
    width: 60%;
    min-width: 450px;
	font-family: 'Bitter', serif;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 7px 7px #bfbfbf;
}

#ticket-form {
	margin: 130px auto 0px auto;
	min-width: 420px;
    min-height: 250px;
}

#ticket-header {
    padding: 7px;
    background-color: #1aa3ff;
    color: black;
    font-weight: bold;
}

#ticket-header-left {
    float: left;
    padding: 0px 7px 0px 0px;
}

#ticket-header-right {
    float: right;
    padding: 0px 0px 0px 7px;
}

#ticket-name {
    background-color: inherit;
    border-style: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

#ticket-name:focus {
    background-color: #E1E1E1;
    border-style: none;
    color: black;
}

#ticket-description-input {
    margin: 1vmax;
    width: 90%;
    min-width: 80px;
    height: 200px;
    min-height: 80px;
    background-color: black;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-style: none;
}

#ticket-description-input:focus {
    background-color: #E1E1E1;
    color: black;
}

#ticket-description {
    margin: 1vmax auto;
    width: 90%;
    min-width: 80px;
    height: 200px;
    min-height: 80px;
    background-color: black;
    text-align: left;
}

#ticket-description:focus {
    background-color: #E1E1E1;
    color: black;
}

#ticket-butt {
    background-color: #1aa3ff;
    width: 120px;
    height: 35px;
    border-color: #80ccff;
    border-radius: 5px;
    color: black;
    margin: 15px 8px;
    cursor: pointer;
    float: right;
}

#ticket-image {
    max-width: 80%;
    max-height: 350px;
}

#new-comment-wrapper {
	margin: 0px auto;
	height: auto;
    width: 60%;
    min-width: 450px;
	font-family: 'Bitter', serif;
    color: white;
	background-color: black;
}

#new-comment {
	margin: 50px auto 50px auto;
	min-width: 420px;
    min-height: 250px;
}

#new-comment-content {
    margin: 1vmax;
    width: 90%;
    min-width: 80px;
    height: 200px;
    min-height: 80px;
    background-color: black;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #1aa3ff;
    padding: 8px;
}

#comment-wrapper {
	margin: 0px auto;
	height: auto;
    width: 60%;
    min-width: 450px;
	font-family: 'Bitter', serif;
    color: white;
    background-color: black;
}

#comment {
	margin: 10px auto 10px auto;
	min-width: 420px;
    min-height: 100px;
}

#comment-header {
    padding: 7px;
    background-color: #1aa3ff;
    color: black;
    font-weight: bold;
}

#comment-header-answer {
    padding: 7px;
    background-color: #1aff1a;
    color: black;
    font-weight: bold;
}

#comment-header-left {
    float: left;
    padding: 0px 7px 0px 0px;
}

#comment-header-right {
    float: right;
    padding: 0px 0px 0px 7px;
}

#comment-content {
    margin: 15px auto;
    width: 90%;
    min-width: 80px;
    min-height: 85px;
    background-color: black;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

.new-comment-hide{
	display: none;
}

.new-comment-show{
	display: visible;
}
