<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/base.css">
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/admin-user-search.js"></script>
    <link rel="icon" href="/static/icon.png">
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div id="mainbar">
      <h1 id="logo"><a href="/">BugTrack</a></h1>
      <div>
        <form method="GET" action="/search">
          <input id="main" name="query" type="text" placeholder="Search for tickets.." required="required">
          <input id="search-img" type="submit" value="">
        </form>
        <h4>
          <ul>
            {% if user.is_authenticated %}
              <li><a class="bar-links" href="/logout">Logout</a></li>
              <li>
                <div class="dropdown">
                    <a href="/profile/{{ user.id }}"><img id="profile-pic-small" src="/static/uploads/{{ user.image }}"></a>
                    <div class="dropdown-content">
                        <a href="/dashboard">Dashboard</a>
                        <a href="/profile/{{ user.id }}">Profile</a>
                    </div>
                </div>
              </li>
              {% if user.position_id.id == 4 %}
                <li>
                    <div class="dropdown">
                      
                      <div>
                        <input id="main-users" class="main-users" name="query" type="text" placeholder="Search for users.." required="required" autocomplete="off">
                        <div id="users" class="users">
                        </div>
                      </div>
                    </div>
                </li>
                <li>
                  <input id="search-img-reverse" type="submit" onclick="search_admin_wrap()" value="">
                </li>
              {% endif %}
            {% else %}
              <li><a class="bar-links" href="/register">Sign up</a></li>
              <li><a class="bar-links" href="/login">Sign in</a></li>
            {% endif %}
          </ul>
        </h4>
      </div>      
    </div>
    {% endblock %}    
  </body>
</html>