{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/create_ticket.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    </div>
    <div id="ticket-form-wrapper">
      <form id="ticket-form" method="POST" enctype="multipart/form-data">
        {{ ticketForm.csrf_token }}
        <div id="ticket-header">
          <span id="ticket-name-label"> Ticket name:</span>
          {{ ticketForm.title(id = "ticket-name")}}
        </div>
        {{ ticketForm.description(id = "ticket-description")}}
        {{ ticketForm.image }}
        <input id="ticket-submit" type="submit" value="Save ticket">
      </form>
    </div>
    {% endblock %}
  </body>
</html>