{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/create_product.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="search-manager-wrapper" style="display: none;">
      <div id="search-manager">
        <div id="search-manager-bar">
          <form method="POST" action="/products/new">
            {{ managerForm.csrf_token }}
            <p id="search-manager-bar-input">{{ managerForm.manager }}</p>
            <input id="search-manager-bar-butt" type="submit">
          </form>
        </div>
        <div id="search-manager-list">
          {% for manager in managers %}
          <p class="search-manager-list-item">{{ manager.clientname }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="form-wrapper">
      <form id="form" method="POST" action="/products/new" enctype="multipart/form-data">
        <p id="form-title">Create new product</p>
        <div id="form-inner">
          <div class="column-left">
            <img id="product-image" src="/static/uploads/2.jpg">
            <p>
              {{ productForm.image }}
            </p>
          </div>
          <div class="column-right">
            {{ productForm.csrf_token }}
            <p>{{ productForm.name(class_="product-form")}}</p>
            <p>{{ productForm.completion_date(class_="product-form")}}</p>
            <p>{{ productForm.version(class_="product-form")}}</p>
            <p>{{ productForm.manager_id(class_="product-form")}}</p>
            <p>
              <button id="search-manager-butt" onclick="hideSearch()">Search for manager</button>
              <script type='text/javascript'>
              function hideSearch()
              {
                var div = document.getElementById("search-manager-wrapper");
                if (div.style.display === "none") {
                  div.style.display = "initial";
                } else {
                  div.style.display = "none";
                }
              } 
              </script>
            </p> 
          </div>
          <div>
            <p>{{ productForm.description }}</p>
          </div>
          <p>
            <input id="product-submit" type="submit" value="Save product">
          </p> 
        </div>
      </form>
     </div>
    </div>
    {% endblock %}
  </body>
</html>