{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/dashboard.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="icons-wrapper">
      <div id="icons">
      	<form class="ticket-form" action="tickets">
      		<input id="tickets-butt" type="submit" value="">
      	</form>
      	<form class="ticket-form" action="tickets/new">
      		<input id="add-ticket-butt" type="submit" value="">
      	</form>
        {% if user.position_id.id >= 1 %}
        <form class="ticket-form" action="tasks">
          <input id="tasks-butt" type="submit" value="">
        </form>
        {% endif %}
        {% if user.position_id.id >= 2 %}
        <form class="ticket-form" action="tasks/new">
          <input id="add-task-butt" type="submit" value="">
        </form>
        {% endif %}
        {% if user.position_id.id >= 3 %}
        <form class="ticket-form" action="products">
          <input id="products-butt" type="submit" value="">
        </form>
        <form class="ticket-form" action="products/new">
          <input id="add-product-butt" type="submit" value="">
        </form>
        {% endif %}
      </div>
    </div>
    <div class="last-tickets-wrapper">
      <div class="last-tickets">
        <p>Your last tickets</p>
        <div class="ticket">
          <div class="ticket-text">
            <p class="ticket-left">Bug <b>Its broken</b> on <b>miroOS</b></p>
            <p class="ticket-right">By <b>stepan</b> on <b>17.10.2019</b></p>
            <div style="clear: both; user-select: auto;"></div>
          </div>
        </div>
        <div class="ticket">
          <div class="ticket-text">
            <p class="ticket-left">Bug <b>Its not working</b> on <b>miroOS</b></p>
            <p class="ticket-right">By <b>stepan</b> on <b>16.10.2019</b></p>
            <div style="clear: both; user-select: auto;"></div>
          </div>
        </div>
        <div class="ticket">
          <div class="ticket-text">
            <p class="ticket-left">Bug <b>Cant log in</b> on <b>GitFIT</b></p>
            <p class="ticket-right">By <b>stepan</b> on <b>10.9.2019</b></p>
            <div style="clear: both; user-select: auto;"></div>
          </div>
        </div>
        <p>See more...</p>
      </div>
      <div class="last-tickets">
        <p>Your last commented tickets</p>
        <div class="ticket">
          <div class="ticket-text">
            <p class="ticket-left">Bug <b>Cant log in</b> on <b>GitFIT</b></p>
            <p class="ticket-right">By <b>stepan</b> on <b>17.10.2019</b>
            <div style="clear: both; user-select: auto;"></div>
          </div>
        </div>
        <p>See more...</p>
      </div>
    </div>
    {% endblock %}
  </body>
</html>