{% extends "base.html" %}
{% block content %}
{{ super() }}
    <div id="wrapper">
        <div id="form-wrapper">
          <form method="POST" action="/login" id="form" y>
            {{ form.csrf_token }}
            <h2>Sign in</h2>
            <p>{{ form.username(class_="log-form")}}</p>
            <p>{{ form.password(class_="log-form")}}</p>
            <p>
              <input id="log-submit" type="submit" value="Login">
            </p>
          </form>
        </div>
    </div>
{% endblock %}