{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/mainpage.css">
    <title>Welcome to bugtrack!</title>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="mainpage-wrapper">
      <div id="mainpage">
        {% if user.is_authenticated %}
          <p id="mainpage-title">Welcome back {{ user.clientname }}!</p>
          <div id="column-left">
            <div id="column-wrapper">
              <p>This web aplication offers complex system for reporting bugs.</p>
              <p>Go to your dashboard to write new ticket, check for old bugs or try to solve tickets from other users</p>
            </div>
          </div>
          <div id="column-right">
            <img src="/static/bug.png" alt="Bug" height="150" width="150">
          </div>
        {% else %}
          <p id="mainpage-title">Welcome to BugTrack!</p>
          <div id="column-left">
              <div id="column-wrapper">
                <p>This web aplication offers complex system for reporting bugs.</p>
                <p>Make new registration or login, so you can write new ticket, check for old bugs or try to solve tickets from other users</p>
              </div>
            </div>
            <div id="column-right">
              <img src="/static/bug.png" alt="Bug" height="150" width="150">
            </div>
        {% endif %}
          <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          {% if not user.is_authenticated %}
            <p>Choose product and look for its tickets <a id="tickets-link" href="/tickets">here</a>.</p>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </body>
</html>