{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/mainpage.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="mainpage-wrapper">
      <div id="mainpage">
        {% if user.is_authenticated %}
          <p id="mainpage-title">Welcome back {{ user.clientname }}!</p>
        {% else %}
          <p id="mainpage-title">Hello there!</p>
        {% endif %}
          <div class="column-left">
          </div>
          <div class="column-right">
          </div>
          <div style="clear: both; user-select: auto; border-width: 0px;"></div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>