{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/product.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="product-wrapper">
      <form id="product" method="POST" action="/products/new" enctype="multipart/form-data">
        <p id="product-title">Product info</p>
        <div id="product-inner">
          <div class="column-left">
            <img id="product-image" src="/static/uploads/{{ product.image }}">
          </div>
          <div class="column-right">
            {{ product.csrf_token }}
            <p id="product-info-title">Product name</p>
            <p id="product-info">{{ product.name }}</p>
            <p id="product-info-title">Product completion date</p>
            <p id="product-info">{{ product.completion_date }}</p>
            <p id="product-info-title">Product version</p>
            <p id="product-info">{{ product.version }}</p>
            <p id="product-info-title">Responsible manager</p>
            <p id="product-info">{{ product.manager_id.clientname}}</p>
          </div>
          <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          <div id="description">
            {{ product.description }}
          </div>     
      </form>
      </div>
     </div>
    </div>
    {% endblock %}
  </body>
</html>