{% extends "base.html" %}

<style>
</style>

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/profile.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
	<img src="/static/user.png" style="width:20%">
    <h1>{{ user.clientname }}</h1>
   	<p>{{ user.mail }}</p>
   	<p>{{ user.name }}</p>
	<p>{{user.surname}}</p>
   	<p>{{ user.birth }}</p>
   	<p>{{ user.position_id }}</p>
   	<p>{{ user.work_time }}</p>
    {% endblock %}
  </body>
</html>
