{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/profile.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="form-wrapper">
      <form id="form" method="POST" action="/profile/{{ shownUser.id }}" enctype="multipart/form-data">
        <div id="form-inner">
          <div class="column-left">
            <p id="form-title">{{ shownUser.clientname }}</p>
            <img id="profile-image" src="/static/uploads/{{ shownUser.image }}">
            <p>
              {{ userForm.image(id="choose-image")}}
            </p>
          </div>
          <div class="column-right">
            {{ userForm.csrf_token }}
            <p>{{ userForm.mail(class_="profile-form")}}</p>
            <p>{{ userForm.name(class_="profile-form")}}</p>
            <p>{{ userForm.surname(class_="profile-form")}}</p>
            <p>{{ userForm.birth(class_="profile-form")}}</p>
            <p>{{ userForm.position(class_="profile-form")}}</p>
            <p><input id="profile-submit" type="submit" value="Save profile"></p> 
          </div>
          <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
      </div>
     </div>
    </div>
    {% endblock %}
  </body>
</html>