{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/profile.css">
    <title>{{ shownUser.clientname }}'s profile</title>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="form-wrapper">
      <form id="form" method="POST" action="/profile/{{ shownUser.id }}" enctype="multipart/form-data">
        <div id="form-inner">
          <div class="column-left">
            <p id="form-title">{{ shownUser.clientname }}</p>
            <img id="profile-image" src="/static/uploads/{{ shownUser.image }}">
            {% if user.is_authenticated %}
              {% if user.id == shownUser.id or user.position_id.id == 4 %}
                <p>{{ userForm.image(id="choose-image")}}</p>
              {% endif %}
            {% endif %}
          </div>
          <div class="column-right">
            {% if user.is_authenticated %}
              {% if user.id == shownUser.id or user.position_id.id == 4 %}
                {{ userForm.csrf_token }}
                <p>{{ userForm.mail(class="profile-form")}}</p>
                <p>{{ userForm.name(class="profile-form")}}</p>
                <p>{{ userForm.surname(class="profile-form")}}</p>
                {% if user.position_id.id == 4 %}
                <p>{{ userForm.position(class="profile-form")}}</p>
                {% endif %}
              {% endif %}
            {% else %}
              <div id="column-right-text">
                <p>{{ shownUser.mail }}</p>
                <p>{{ shownUser.name }}</p>
                <p>{{ shownUser.surname }}</p>
                <p>{{ shownUser.position_id.position }}</p>
              </div>
            {% endif %}
            {% if user.is_authenticated %}
              {% if user.id == shownUser.id or user.position_id.id == 4 %}
              <p><input id="profile-submit" type="submit" value="Save profile"></p> 
              {% endif %}
            {% endif %}
          </div>
          <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
      </div>
     </div>
    </div>
    {% endblock %}
  </body>
</html>