{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static/register.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="wrapper">
      <div id="form-wrapper">
        <form method="POST" action="/register" id="form" y>
          {{ form.csrf_token }}
          <h2>Sign up</h2>
          <p>{{ form.username(class_="reg-form")}}</p>
          <p>{{ form.mail(class_="reg-form")}}</p>
          <p>{{ form.password(class_="reg-form")}}</p>
          <p>{{ form.password_re(class_="reg-form")}}</p>
          <p>
            <input id="reg-submit" type="submit" value="Register">
          </p>
        </form>
        <div id="form-side"></div>
        {% endblock %}
      </div>
      </div>
  </body>
</html>