{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/task.css">
    <script type="text/javascript" src="/static/tab.js"></script>
    <title>Task {{ taskForm.title.data }}</title>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="page-wrapper">
      <div id="form-wrapper">
          <form id="form" method="POST" action="/tasks/{{ taskId }}">
            <p id="form-title">Task</p>
            {% with messages = get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "task" %}
                            <div class="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div id="tab">
              <input id="detail-butt" class="tab-button" type="button" onclick="selectTab('detail')" value="Detail">
              <input id="content-butt" class="tab-button" type="button" onclick="selectTab('content')" value="Content">
            </div>
            <div id="task">
              <div id="detail">
                {{ taskForm.csrf_token }}
                <p><span>Title: </span>{{ taskForm.title(class_="task-form")}}</p>
                <p><span>Completion date: </span>{{ taskForm.completion_date(class_="task-form")}}</p>
                <p><span>State: </span>{{ taskForm.state(class_="task-form")}}</p>
                <p><span>Assigned: </span>{{ taskForm.worker(class_="task-form")}}</p>
                <p>Related tickets:</p>
                {% for relatedTicket in relatedTickets %}
                  <a id="related-tickets" href="/tickets/{{ relatedTicket.product_id.id }}/{{ relatedTicket.id }}"><p>{{ relatedTicket.name }}</p></a>
                {% endfor %}
              </div>
              <div id="content" style="display: none;">
                {{ taskForm.description }}
              </div>
              <p>
                <input id="task-submit" type="submit" value="Save task">
              </p> 
          </form>
          </div>
          </div>
        </div>
    </div>
    {% endblock %}
  </body>
</html>