{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/ticket.css">
    <script type="text/javascript" src="/static/show_images.js"></script>
    <script type="text/javascript" src="/static/add_comment.js"></script>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="ticket-form-wrapper">
      <form id="ticket-form" method="POST">
        <div id="ticket-header">
          <div id="ticket-header-first-row">
            <span id="ticket-header-left">Ticket name:</span>
            {{ ticketForm.csrf_token }}
            {{ ticketForm.title(id = "ticket-name")}}
            {% if ticket.closed %}
              <span id="ticket-header-right">State: Closed</span>
            {% else %}
              <span id="ticket-header-right">State: Opened</span>
            {% endif %}
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </div>
          <div id="ticket-header-second-row">
            <span id="ticket-header-left">Author:</span>
            <span id="ticket-header-left">{{ ticket.author_id.clientname }}</span>
            <span id="ticket-header-right">{{ ticket.creation_date }}</span>
            <span id="ticket-header-right">Creation date:</span>
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </div>
        </div>

        {{ ticketForm.description(id = "ticket-description")}}
        {% if ticket.image != None %}
          <p><img id="ticket-image" src="/static/uploads/{{ ticket.image }}"><p></p>
        {% endif %}
        <input id="ticket-butt" type="button" value="Add comment" onclick="add_comment(null)">
        <input id="ticket-butt" type="button" value="Show images" onclick="show_images()">
        <input id="ticket-butt" type="submit" value="Save ticket">
        <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
    </div>
    <div id="new-comment-wrapper">
      <form id="new-comment" method="POST">
        {{ commentForm.content(id = "new-comment-content")}}
        <input id="ticket-butt" type="submit" value="Send comment">
        <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
    </div>
    {% for comment in comments %}
      <div id="comment-wrapper">
        <div id="comment">
          <div id="comment-header">
            <span id="comment-header-left">Author:</span>
            <span id="comment-header-left">{{ comment.author_id.clientname }}</span>
            <span id="comment-header-right">2.8.2025</span>
            <span id="comment-header-right">Date:</span>
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </div>
          <div id="comment-content">jeba jeba jeba</div>
        </div>
      </div>
    {% endfor %}
    {% endblock %}
  </body>
</html>