{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/ticket.css">
    <script type="text/javascript" src="/static/show_images.js"></script>
    <script type="text/javascript" src="/static/add_comment.js"></script>
    <script type="text/javascript" src="/static/redirect_ticket.js"></script>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div id="ticket-form-wrapper">
      <form id="ticket-form" method="POST">
        <div id="ticket-header">
          <div id="ticket-header-first-row">
            <span id="ticket-header-left">Ticket name:</span>
            {% if user.id == ticket.author_id.id and not ticket.closed %}
              {{ ticketForm.csrf_token }}
              {{ ticketForm.title(id = "ticket-name")}}
              {% if ticket.closed %}
                <span id="ticket-header-right">State: Closed</span>
              {% else %}
                <span id="ticket-header-right">State: Opened</span>
              {% endif %}
              <div style="clear: both; user-select: auto; border-width: 0px;"></div>
            </div>
            <div id="ticket-header-second-row">
              <span id="ticket-header-left">Author:</span>
              <span id="ticket-header-left">{{ ticket.author_id.clientname }}</span>
              <span id="ticket-header-right">{{ ticket.creation_date }}</span>
              <span id="ticket-header-right">Creation date:</span>
              <div style="clear: both; user-select: auto; border-width: 0px;"></div>
            </div>
          {% else %}
            <span>{{ ticket.name }}</span>
            {% if ticket.closed %}
              <span id="ticket-header-right">State: Closed</span>
            {% else %}
              <span id="ticket-header-right">State: Opened</span>
            {% endif %}
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </div>
          <div id="ticket-header-second-row">
            <span id="ticket-header-left">Author:</span>
            <span id="ticket-header-left">{{ ticket.author_id.clientname }}</span>
            <span id="ticket-header-right">{{ ticket.creation_date }}</span>
            <span id="ticket-header-right">Creation date:</span>
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </div> 
          {% endif %}

        </div>
        {% if user.id == ticket.author_id.id %}
          {{ ticketForm.description(id = "ticket-description-input")}}
        {% else %}
           <p id="ticket-description">{{ ticket.description }}</p>
        {% endif %}
        {% if ticket.image != None %}
          <p><img id="ticket-image" src="/static/uploads/{{ ticket.image }}"></p>
        {% endif %}
        {% if not ticket.closed %}
          <input id="ticket-butt" type="button" value="Add comment" onclick="add_comment(null)">
        {% endif %}
        {% if ticket.image != None %}
          <input id="ticket-butt" type="button" value="Show images" onclick="show_images()">
        {% endif %}
        {% if user.id == ticket.author_id.id %}
        {% if not ticket.closed %}
            <input id="ticket-butt" type="submit" value="Save ticket">
            <input id="ticket-butt" type="button" value="Close ticket" onclick="close_ticket()">
          {% endif %}
        {% endif %}
        <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
    </div>
    <div id="new-comment-wrapper" class="new-comment-hide">
      <form id="new-comment" method="POST">
        {{ commentForm.csrf_token }}
        {{ commentForm.content(id = "new-comment-content")}}
        <input id="ticket-butt" type="submit" value="Send comment">
        <div style="clear: both; user-select: auto; border-width: 0px;"></div>
      </form>
    </div>
    {% for comment in comments %}
      {% if comment.answer %}
        <div id="comment-wrapper">
          <div id="comment">
            <div id="comment-header-answer">
              <b>Answer</b>
              <span id="comment-header-left">Author:</span>
              <span id="comment-header-left">{{ comment.author_id.clientname }}</span>
              <span id="comment-header-right">{{ comment.creation_date }}</span>
              <span id="comment-header-right">Date:</span>
              <div style="clear: both; user-select: auto; border-width: 0px;"></div>
            </div>
            <p id="comment-content">{{ comment.content }}</p>
          </div>
        </div>
      {% else %}
        <div id="comment-wrapper">
          <form id="comment" method="POST" action="">
            <div id="comment-header">
              <span id="comment-header-left">Author:</span>
              <span id="comment-header-left">{{ comment.author_id.clientname }}</span>
              <span id="comment-header-right">{{ comment.creation_date }}</span>
              <span id="comment-header-right">Date:</span>
              <div style="clear: both; user-select: auto; border-width: 0px;"></div>
            </div>
            <p id="comment-content">{{ comment.content }}</p>
            {% if ((user.id == ticket.author_id.id) or (user.position_id.id > 1)) and not ticket.closed %}
              <input id="ticket-butt" type="button" value="Mark as answer" onclick="mark_answer({{ comment.id }})">
            {% endif %}
            <div style="clear: both; user-select: auto; border-width: 0px;"></div>
          </form>
        </div>
      {% endif %}
    {% endfor %}
    {% endblock %}
  </body>
</html>