{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/tickets.css">
    <script type="text/javascript" src="/static/redirect_ticket.js"></script>
    <title>Select a ticket</title>
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    <div class="tickets-wrapper">
      <div class="tickets">
        <h2 id="tickets-title">Tickets of product <a id="tickets-title-link" href="/products/{{ product.id }}">{{ product.name }}</a></h2>
        <div class="ticket">
          {% for ticket in tickets %}
            <div class="ticket-text">
                <p class="ticket-left">Bug <b><a href="/tickets/{{ ticket.product_id.id }}/{{ ticket.id }}">{{ ticket.name }}</a></b></p>
                <p class="ticket-right">By <b><a href="/profile/{{ ticket.author_id.id }}">{{ ticket.author_id.clientname }}</a></b> on <b>{{ticket.creation_date}}</b>
              <div style="clear: both; user-select: auto; border-width: 0px;"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>