{% extends "base.html" %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/create_ticket.css">
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {{ super() }}
    </div>
    <div id="ticket-form-wrapper">
      <form id="ticket-form" method="POST" enctype="multipart/form-data">
        <div id="ticket-header">
          <span id="ticket-name-label"> Ticket name:</span>
          <p id="ticket-name">{{ ticket.name }}</p>
        </div>
        <textarea id="ticket-description">{{ ticket.description }}</textarea>
        <img src="{{ ticket.image }}" width="200" height="200">
        <input id="ticket-submit" type="submit" value="Save ticket">
      </form>
    </div>
    {% endblock %}
  </body>
</html>